<article class="example" id="uk">
  <h1>HTML-partials</h1>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
  <img src="images/logo.png" alt="" width="320" />

  <p>
    The
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    plugin allows you to add code from other HTML files (fragments) to HTML page
    files. Fragments are stored in the <code>src/partials</code> folder. The
    addition occurs when compiling page files, such as <code>index.html</code>.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia itaque dolore
    amet doloremque porro velit quibusdam eligendi numquam possimus eaque
    repellat error rem, non fugiat cum voluptates quaerat. Expedita, excepturi?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod illo quas
    assumenda tempora qui cum harum ex corrupti, reprehenderit repudiandae, quam
    animi! Eligendi, asperiores! Eos sint asperiores error quos! Tenetur! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Minima deleniti cum
    dolores odio ipsam nostrum animi expedita consequatur aperiam, qui aliquam,
    eum iusto? Illo excepturi accusantium sit quam. Ab, harum. Aperiam vitae
    modi dolorum quaerat labore voluptatum ab dicta qui dolores officiis
    corporis quibusdam cumque earum perspiciatis, nostrum cupiditate maiores,
    eum, cum voluptatibus culpa natus rem? Eius, eaque! Obcaecati, ratione. Est
    reprehenderit earum, omnis nulla facere voluptatum temporibus libero.
    Distinctio fuga voluptates, quos autem corporis quaerat aut eos dignissimos
    laboriosam praesentium qui est, inventore eligendi, nobis a accusantium
    placeat! Ad. Officiis, totam. Ex soluta molestias laudantium dolor tempora
    rerum tenetur! Eos, quia quod. Rerum commodi ullam perspiciatis sunt
    inventore atque, ex fugit ad laboriosam similique maxime deleniti, cumque
    iusto repellendus. Exercitationem consequatur veritatis ut vero rerum
    laborum saepe iure blanditiis beatae adipisci ipsa cumque quia possimus cum,
    minima facere fugit aliquam quod fuga odit autem. Debitis excepturi numquam
    non repellendus? Voluptas, cumque ex veritatis reiciendis amet distinctio
    expedita ipsum quis magnam eius, mollitia tempora eveniet natus sint maiores
    obcaecati. Culpa obcaecati temporibus sapiente inventore quos facere eveniet
    hic quibusdam numquam? A ullam, harum minus velit labore dolorem recusandae
    exercitationem, nisi saepe sed explicabo maiores cupiditate expedita minima
    ea, aperiam quas quo quibusdam alias laboriosam illo ipsam officiis facere!
    Quod, ad! Recusandae, corrupti ratione provident debitis quam placeat.
    Praesentium, aspernatur. Facilis aspernatur, doloribus tempora labore beatae
    vitae ullam enim unde veniam atque quod? Doloribus, tempora? Odio quasi
    impedit odit provident velit! Odio quasi, dolores voluptate perspiciatis,
    assumenda unde sequi veritatis itaque enim deleniti distinctio. Id odio
    eaque alias, illo quisquam commodi, culpa vero sunt, voluptatum corporis
    sapiente ipsam eius saepe consequuntur. At dolore suscipit quos beatae
    consequuntur, libero eaque perferendis? Voluptatum laborum corporis
    dignissimos, eveniet vel veniam veritatis id commodi voluptatem sequi velit
    eum laudantium consequuntur similique suscipit vitae debitis natus.
  </p>

  <p>
    This <code>example.html</code> file is an example of such a snippet, with
    the markup of a certain part of the main page. This is very convenient for
    team development on student projects, when several people write in one HTML
    file at once.
  </p>

  <p>
    The syntax for adding a fragment to the main file is:
    <code> &lt;include src="./partials/filename.html"&gt;&lt;/include&gt;</code>
  </p>

  <div class="background"></div>
</article>
