<header class="header">
  <div class="container">
    <a href="#" class="logo"> Filmoteka </a>
    <nav class="nav">
      <ul class="nav-list list">
        <li class="nav-list__item">
          <a href="#" class="nav-list__link current link">HOME</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link link">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
      <div class="btn-container">
        <button class="header__form-btn" type="button">WATCHED</button>
        <button class="header__form-btn" type="button">QUEUE</button>

      </div>
    </form>
  </div>
</header>
