<header class="library header">
  <div class="container">
    <div class="banner">#StandWithUKRAINE</div>
    <div class="nav-container">
      <a href="./index.html" class="logo link">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-film-logo"></use>
        </svg>
       <span class="logo-text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav-list list">
          <li class="nav-list__item">
            <a href="./index.html" class="nav-list__link link">HOME</a>
          </li>
          <li class="nav-list__item">
            <a href="./library.html" class="nav-list__link current link">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
        <div class="btn-container">
        <button class="header__watch-btn btn" type="button">WATCHED</button>
        <button class="header__queue-btn btn" type="button">QUEUE</button>
      </div>
      </div>
    </form>
  </div>


  
  <div class="change-theme">
    <button class="change-theme__btn-dark" type="button">
      <svg class="change-theme__icon">
        <use href="./images/header/theme-sprite.svg#moon"></use>
      </svg>
    </button>
    <button class="change-theme__btn" type="button" id="change-theme__btn">
      <svg class="change-theme__icon">
        <use href="./images/header/theme-sprite.svg#sun"></use>
      </svg>
    </button>
  </div>
</header>


