$animation-duration: 3s;

$color-dark-blue: #001E31;
$color-light-blue: #4DB9FF;
$color-glowing-blue: #50F2F5;

$ball-radius: 30px;
$ball-spacing: $ball-radius * 2;
$ball-count: 4;

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: $color-dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: $ball-count * ($ball-radius * 2 + $ball-spacing) - $ball-spacing;
    height: $ball-radius * 2;
    position: relative;

    .balls {
        filter: url(#goo);

        .ball.moving {
            box-shadow: none;
        }
    }

    .ball {
        width: $ball-radius * 2;
        height: $ball-radius * 2;
        background-color: $color-light-blue;
        position: absolute;
        border-radius: $ball-radius;
        animation: $animation-duration ease-in-out infinite;

        @for $i from 0 through $ball-count - 1 {
            &:nth-child(#{$i + 1}) {
                left: $i * ($ball-radius * 2 + $ball-spacing);
                animation-name: scale#{$i + 1};
            }
        }

        &.moving {
            animation: move $animation-duration ease-in-out infinite;
            left: -$ball-radius;
            background-color: $color-glowing-blue;
            box-shadow: 0 0 10px $color-glowing-blue, 0 0 30px $color-glowing-blue, 0 0 100px $color-glowing-blue;
        }
    }
}

svg {
    display: none;
}

@keyframes move {
    50% {
        left: $ball-count * ($ball-radius * 2 + $ball-spacing) - $ball-spacing - $ball-radius;
    }
}

@keyframes scale1 {

    0%,
    100% {
        transform: scale(1.1);
    }

    10%,
    90% {
        transform: scale(1.2);
    }

    20%,
    80% {
        transform: scale(1);
    }
}

@keyframes scale2 {

    20%,
    80% {
        transform: scale(1.2);
    }

    10%,
    30%,
    70%,
    90% {
        transform: scale(1);
    }
}

@keyframes scale3 {

    30%,
    70% {
        transform: scale(1.2);
    }

    20%,
    40%,
    60%,
    80% {
        transform: scale(1);
    }
}

@keyframes scale4 {
    50% {
        transform: scale(1.1);
    }

    40%,
    60% {
        transform: scale(1.2);
    }

    30%,
    70% {
        transform: scale(1);
    }
}