.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 100;

  background: rgba(0, 0, 0, 0.35);

  visibility: visible;

  opacity: 1;
}
.modal__film {
  @media screen and (max-width: 479px) {
    overflow-y: auto;
    max-width: 300px;
    max-height: auto;

    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 450px;
    max-height: auto;
    overflow-y: auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 704px;
    height: auto;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    max-width: 806px;
    height: auto;
    display: flex;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 558px;
  width: 806px;

  padding: 40px 12px;

  font-size: 12px;
  line-height: 1.67;

  background-color: white;
}

.modal_image {
  display: block;
  max-width: 100%;
  height: auto;

  @media screen and (max-width: 767px) {
    width: 240px;
    height: 357px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 264px;
    height: 375px;
  }
  @media screen and (min-width: 1200px) {
    width: 375px;
    height: 478px;
  }
}

.modal__film-image {
  @media screen and (max-width: 767px) {
    height: 357px;
    margin-bottom: 10px;
  }
}

.modal__icon {
  fill: var(--accent-color);
}

.modal__container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.modal__film-info {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition-property: color;
  transition-duration: 255ms;
  transition-timing-function: var(--cubic-bezier);
  padding: 1px 2px;
}

.modal__close-btn:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.modal__close-btn:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.film-title {
  list-style-type: none;

  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-family: var(--primary-font);
  margin-bottom: 20px;
}
.modal__film-info {
  padding-left: 16px;
}
.film-info {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #8c8c8c;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.film-vote {
  margin-left: 22%;
  font-weight: 500;
  font-size: 12px;
  margin-right: 3px;
  line-height: 16px;
  color: var(--primary-text-color);
  background: var(--accent-color);
  border-radius: 5px;
  display: block;
  padding: 1px 6px;
}

.film-votes {
  font-weight: 500;
  margin-left: 1px;
  font-size: 12px;
  line-height: 16px;
  color: var(--title-color);
  background: #f7f7f7;
  border-radius: 5px;
  padding: 1px 4px;
}

.film-popularity {
  margin-left: 25.5%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--title-color);
}
.film-original-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--title-color);
  margin-left: 22%;
}

.film-genre {
  margin-left: 30.5%;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--title-color);
}
.film-overview {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  list-style: none;
  font-family: var(--primary-font);
}

.filter__button {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  margin-left: 8px;
}
.button-modal {
  font-family: var(--primary-text-color);
  font-family: var(--primary-font);
  margin-right: 15px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: calc(18 / 14);
  color: black;
  padding: 14px 12px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  &:hover {
    background-color: var(--accent-color);
    color: #f7f7f7;
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }

  &:focus {
    color: #f7f7f7;
    background-color: var(--accent-color);
    cursor: pointer;
    border: 1px solid var(--accent-color);
  }

  &:disabled {
    background-color: var(--second-bgc);
  }
}
