.gallery-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 32px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1280px;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding-top: 60px;

  @media screen and (max-width: 480px) {
    padding-top: 20px;
  }
}
.gallery__item {
}
.gallery__film-image {
  width: 100%;
}
.gallery_image {
}
.gallery__film-info {
}
.gallery__film-name {
}
.gallery__film-subscription {
}
.gallery_film-vote {
}
.visually-hidden {
}
